{
  "presets": [
    "react",
    [ "env", {
      "targets": {
        "browsers": "> 2%"
      }
    }]
  ],

  "plugins": [
    "transform-class-properties",
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "react-hot-loader/babel",
    "transform-runtime",
    "transform-async-to-generator"
  ]
}