.modal {
  &__container {
    background-color: white;
    overflow: auto;
    outline: none;
    box-shadow: 0 0 20px #00000026;

    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    height: 80%;
    width: 80%;
  }

  &__overlay {
    background-color: #00000073;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}