.similar-beer {
  &__img {
    width: 150px;
    height: 150px;
    padding: 20px;
    margin: 10px;
    object-fit: contain;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.15);
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}